{"openapi":"3.0.1","info":{"title":"[smiles]DifferentiatedClubAPI","version":"1.0.0","contact":{"name":"LeonardoVilela","email":"leonardo.vilela@viaconsulting.com.br","url":"https://github.com/leovile"},"description":"DetaileddescriptionoftheDifferentiatedClubServiceAPI"},"x-amazon-apigateway-cors":{"allowMethods":["*"],"allowHeaders":["content-type","authorization"],"maxAge":0,"allowCredentials":false,"allowOrigins":["*"]},"x-amazon-apigateway-request-validators":{"all":{"validateRequestBody":true,"validateRequestParameters":true},"params":{"validateRequestBody":true,"validateRequestParameters":true},"body":{"validateRequestBody":true,"validateRequestParameters":false}},"paths":{"/v1":{"put":{"summary":"Getdifferentiatedclubbonus","description":"Getdifferentiatedclubbonus","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/differentiatedClubResponse"},"examples":{}}}}},"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/differentiatedClubRequest"},"examples":{}}},"description":""}}}},"servers":[{"url":"https://apigw.dev2.smiles.com.br/differClub","description":"dev2"},{"url":"https://apigw-hml5.smiles.com.br/differClub","description":"hml5"}],"components":{"schemas":{"differentiatedClubRequest":{"title":"differentiatedClubRequest","type":"object","properties":{"category":{"type":"string"},"clubSmiles":{"type":"string"},"product":{"type":"string"},"milesValue":{"type":"number"}},"required":["category","clubSmiles","product","milesValue"]},"differentiatedClubResponse":{"title":"differentiatedClubResponse","type":"object","properties":{"clubBonusList":{"type":"array","items":{"type":"object","properties":{"category":{"type":"string"},"clubSmiles":{"type":"string"},"product":{"type":"string"},"partner":{"type":"string"},"maxMiles":{"type":"integer","format":"int32"},"bonusPercent":{"type":"string","nullable":true},"cost":{"type":"string","nullable":true},"inhibit":{"type":"boolean"},"milesValue":{"type":"integer","format":"int32"},"productName":{"type":"string"},"differentialBonusMiles":{"type":"integer","format":"int32"},"trackingPricingMiles":{"type":"array","items":{"type":"object","properties":{"tab":{"type":"string"},"nameRule":{"type":"string"},"description":{"type":"string"},"value":{"type":"string"}}}}}}}}}}}}
